.banner__inner-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    padding: 120px 0px;
    background: url('../images/wall.png');
    background-position-x: center;
    line-height: 1.6;
}

.banner__title {
    font-family: 'PT Sans', sans-serif;
    font-size: 32pt;
    font-weight: bold;
    color: white;
    letter-spacing: 4px;
    text-decoration: underline;
    text-underline-position: under;
}

.banner__description {
    font-family: 'Lato', sans-serif;
    font-size: 12pt;
    color: white;
    letter-spacing: 3px;
    margin-top: 35px;
}

.banner__circle {
    margin-top: 35px;
}