.banner__inner-container {
    display: flex;
    flex-direction: column;

    padding: 110px 0 129px 0;

    text-align: center;

    background: url("../images/wall.jpg");
    background-position-x: center;
    background-position-y: -20px;

    align-items: center;
    justify-content: flex-start;
}

.banner__title-container {
    width: 80%;
}

.banner__title {
    text-decoration: underline;
    letter-spacing: 4px;
    line-height: 1.4;

    color: #ffffff;

    font-family: "PT Sans", sans-serif;
    font-size: 2.3rem;
    font-weight: bold;

    text-underline-position: under;
}

.banner__description-container {
    width: 80%;

    margin-top: 25px;
}

.banner__description {
    letter-spacing: 3px;
    line-height: 1.6;
    text-transform: uppercase;

    color: #ffffff;

    font-family: "Lato", sans-serif;
    font-size: 0.95rem;
}

.banner__circle {
    position: relative;

    width: 4.4rem;
    height: 4.4rem;
    margin-top: 2.3rem;

    border-radius: 50%;
    background: #e4551d;
}

.banner__icon {
    position: absolute;
    top: 50%;

    transform: translate(-50%, -50%);

    color: #ffffff;

    font-size: 2rem;
}

@media only screen and (min-width: 770px) {
    .banner__title-container {
        width: 475px;
    }
    .banner__description-container {
        width: 400px;
    }
}