.banner__inner-container {
    /*position: relative;*/
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    padding: 120px 0px;
    background: url('../images/wall.png');
    background-position-x: center;
    /*-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;*/
}

.banner__wall-container {
    /*position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    text-align: center;
    line-height: 1.6;*/
}

.banner__wall {
    /*position: absolute;*/
    /*left: 50%;
    transform: translate(0, -50%);*/
    /*display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;*/
}

.banner__title {
    font-family: 'PT Sans', sans-serif;
    font-size: 32pt;
    font-weight: bold;
    color: white;
    letter-spacing: 4px;
    text-decoration: underline;
    text-underline-position: under;
}

.banner__description {
    font-family: 'Lato', sans-serif;
    font-size: 12pt;
    color: white;
    letter-spacing: 3px;
    margin-top: 35px;
}

.banner__circle {
    margin-top: 35px;
}