.button-link {
    padding: 8px 17px;

    text-decoration: none;

    color: #ffffff;
    border-style: solid;
    border-radius: 5px;
    background: #637f83;

    font-family: "Source Sans Pro", sans-serif;
    font-size: 16px;
    font-weight: bold;
}

.button-link_position-portfolio {
    background: #e4551d;
}

.button-link_position-mail {
    border-color: #597275;
    background: #597275;
}