.featured-content__title-container {
    padding: 2.3rem 0;
}

.featured-content__items-container {
    background: #f6f6f6;
}

.featured-content__items {
    display: flex;
}

@media screen and (max-width: 1224px) {
    .featured-content__items {
        flex-wrap: wrap;

        justify-content: center;
    }
}