.featured-content-item {
    display: flex;
    flex-direction: column;

    padding: 3.5rem 3rem;

    border-right: 1px solid #d5d5d5;

    text-align: center;
    align-items: center;
}

.featured-content-item:last-child {
    border-right: 0;
}

@media screen and (max-width: 1224px) {
    .featured-content-item {
        flex-basis: 33%;
    }

    .featured-content-item:nth-child(even) {
        border-right: 0;
    }
}

@media screen and (max-width: 715px) {
    .featured-content-item {
        flex-basis: 75%;
        border-right: 0;
    }
}

.featured-content-item__icon {
    color: #e4551d;

    font-size: 4.4rem;
}

.featured-content-item__title-container {
    margin: 1.9rem 0 1.2rem 0;
}

.featured-content-item__description-container {
    margin-bottom: 1.5rem;
}

.featured-content-item__description {
    line-height: 1.4;
}