.featured-content-item {
    display: flex;
    flex-direction: column;

    padding: 60px 45px;

    border-right: 1px solid #d5d5d5;

    text-align: center;
    align-items: center;
}

.featured-content-item:last-child {
    border-right: 0;
}

.featured-content-item__icon {
    color: #e4551d;

    font-size: 67px;
}

.featured-content-item__title-container {
    margin: 28px 0 20px 0;
}

.featured-content-item__description-container {
    margin-bottom: 28px;
}

.featured-content-item__description {
    line-height: 1.4;
}