.featured-content__inner-container {
    display: flex;
    flex-direction: column;
    background: #f6f6f6;
}

.featured-content__title-container {
    display: flex;
    flex-direction: column;
    padding: 20px 0px;
}

.featured-content__items-container {
    display: flex;
}

.featured-content__description, .portfolio__description {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 12pt;
    text-decoration: none;
    color: #637f83;
}

.featured-content-item {
    display: flex;
    flex-direction: column;
    
    /*border: 5px, solid, #d5d5d5;*/
    border-right-color: #d5d5d5;
    border-right-width: 3px;
    border-right-style: solid;
    padding: 20px;
    margin: 20px;
}

.featured-content-item_position-right {
    border-right-color: #f6f6f6;
}

.featured-content-item__icon {
    font-size: 68pt;
    color: #e4551d;
    /*border: 5px, solid, black;*/
}

.featured-content-item__title, .person__title {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16pt;
    font-weight: 900;
    text-decoration: none;
    color: #637f83;
}

.featured-content-item__description, .person__description, .person__link {
    font-family: 'Lato', sans-serif;
    font-size: 10pt;
    text-decoration: none;
    color: #959494;
}

.featured-content-item__button {
    background: #637f83;
    color: white;
    border-style: solid;
    border-color: #637f83;
    border-radius: 5px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 12pt;
    font-weight: bold;
    width: 65px;
    height: 30px;
}