.footer__inner-container {
    padding: 2.3rem 0;

    text-align: center;

    background: #637f83;
}

.footer__text {
    color: #ffffff;

    font-family: "Myriad Pro", sans-serif;
    font-size: 0.8rem;
}