.header__inner-container {
    display: flex;

    padding: 28px 0 15px 0;

    background: white;

    justify-content: space-between;
}

.primary-logo,
.featured-content__title,
.portfolio__title,
.social__title {
    text-decoration: none;

    color: #637f83;

    font-family: "Source Sans Pro", sans-serif;
    font-size: 24pt;
    font-weight: 900;
}

.header__navigation-container {
    display: flex;

    width: 600px;

    letter-spacing: 1px;
}

.nav {
    width: 100%;
}

.nav__list {
    display: flex;

    margin-left: 0;
    padding-left: 0;

    justify-content: space-between;
}

.nav__item {
    list-style-type: none;
}

.nav__link {
    display: flex;
    flex-direction: column;

    height: 37px;
    margin-top: 10px;

    text-decoration: none;

    color: #637f83;

    font-family: "Source Sans Pro", sans-serif;
    font-size: 11pt;
    font-weight: 900;

    align-items: center;
    justify-content: space-between;
}

.nav__link_state-current {
    margin-top: -14px;

    color: #e4551d;
}

.nav__link_state-current::before {
    content: "\f107";

    color: #637f83;

    font-family: "icomoon";
    font-size: 11pt;
    font-weight: 600;
}