.header__inner-container {
    width: 100%;
    background: white;
    display: flex;
    flex-wrap: wrap;
    /*justify-content: space-around;*/
    padding: 20px 0px;
    /*text-align: center;*/
}

.primary-logo, .title__title {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 26pt;
    font-weight: 900;
    text-decoration: none;
    color: #637f83;
}

.header__navigation-container {
    display: flex;
    width: 700px;
}

.nav {
    width: 100%;
}

.nav__list {
    display: flex;
    margin-left: 0px;
    padding-left: 0px;
    justify-content: space-between;
}

.nav__item {
    list-style-type: none
}

.nav__link {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 11pt;
    font-weight: 900;
    text-decoration: none;
    color: #637f83;
}

.nav__link_state-current {
    color: #e4551d;
}