.item-description {
    color: #959494;

    font-family: "Myriad Pro", sans-serif;
    font-size: 14px;
    line-height: 1.6;
}

.item-description_tall {
    line-height: 1.9;
}

.item-description_white {
    color: #ffffff;
}

.item-description_gray {
    color: #b5c7c9;
}