.nav__item {
    margin-right: 3.3rem;
}

.nav__item_w {
    margin-right: 3.3rem;
}


.nav__item:last-child {
    margin-right: 0;
}

.nav__list {
    display: flex;

    align-items: flex-end;
}

.nav__link {
    display: flex;
    flex-direction: column;

    text-decoration: none;
    text-transform: uppercase;

    color: #637f83;

    font-family: "Source Sans Pro", sans-serif;
    font-size: 0.95rem;
    font-weight: 900;

    align-items: center;
}

.nav__link_state_current {
    color: #e4551d;
}

.nav__link_state_current::before {
    content: "\f107";

    margin-bottom: 0.6rem;

    color: #637f83;

    font-family: "icomoon";
    font-size: 0.9rem;
    font-weight: 600;
}

.nav__menu-toggle {
    display: none;
}

@media (max-width: 1100px) {
    .nav__menu-toggle {
        display: block;

        margin-top: 1.4rem;
    }

    .nav__item {
        display: none;
    }
}