.nav__item {
    margin-right: 3.3rem;
}

.nav__item_w {
    margin-right: 3.3rem;
}


.nav__item:last-child {
    margin-right: 0;
}

.nav__list {
    display: flex;

    align-items: flex-end;
}

.nav__link {
    display: flex;
    flex-direction: column;

    text-decoration: none;
    text-transform: uppercase;

    color: #637f83;

    font-family: "Source Sans Pro", sans-serif;
    font-size: 0.95rem;
    font-weight: 900;

    align-items: center;
}

.nav__link_state_current {
    color: #e4551d;
}

.nav__link_state_current::before {
    content: "\f107";

    margin-bottom: 0.6rem;

    color: #637f83;

    font-family: "icomoon";
    font-size: 0.9rem;
    font-weight: 600;
}

.nav__menu-toggle {
    display: none;
}

@media (max-width: 1050px) {
    .nav {
        position: relative;
    }

    .nav__menu-toggle {
        display: block;

        margin: 1.4rem 1rem 0 0;
    }

    .nav__list {
        display: block;

        position: absolute;

        top: 1.5rem;
        left: -1.5rem;

        background: #f9f9f9;

        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    }

    .nav__item {
        margin-right: 0;
        padding: 1rem;
    }

    .nav__link_state_current::before {
        display: none;
    }
}