.people {
    margin-top: 59px;
}

.people__inner-container {
    display: flex;

    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.person {
    display: flex;

    width: 570px;
    margin-bottom: 25px;

    align-items: flex-start;
}

.person__info-container {
    margin-left: 30px;
}

.person__description-container {
    padding-top: 6px;
}

.person__description {
    line-height: 1.9;
}

.person__link {
    text-decoration: none;

    color: #e4551d;
}