.people {
    margin-top: 59px;
}

.people__inner-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.person {
    display: flex;
    align-items: flex-start;
    width: 550px;
    margin-bottom: 25px;
}

.person_position-right {
    margin-left: 40px;
}

.person__info-container {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

.person__description-container {
    padding-top: 10px;
}

.person__description {
    line-height: 1.9;
}

.person__link {
    color: #e4551d;
    text-decoration: none;
}