.person {
    display: flex;

    align-items: center;

    flex-basis: 47%;
}

@media screen and (max-width: 1270px) {
    .person {
        /* flex-basis: 80%; */
    }
}

.person__img {
    width: 100px;
    height: 100px;
}

.person__info-container {
    margin-left: 30px;
}

.person__description-container {
    padding-top: 6px;
}

.person__description {
    line-height: 1.9;
}

.person__link {
    text-decoration: none;

    color: #e4551d;

    font-family: "Myriad Pro", sans-serif;
    font-size: 14px;
}