.portfolio__inner-container {
    display: flex;
    flex-direction: column;

    padding-bottom: 60px;

    border-bottom: 1px solid #d9d9d9;

    align-items: center;
}

.portfolio__title-container {
    padding: 54px 0 5px 0;
}

.portfolio__controls-container {
    width: 100%;
}

.portfolio__controls {
    position: relative;

    display: flex;

    margin: 20px 0 40px 0;

    justify-content: center;
}

.portfolio__controls::before {
    position: absolute;
    top: 50%;

    width: 100%;

    content: "";

    border-top: 1px solid #d9d9d9;
}

.portfolio__controls-wrapper {
    z-index: 1;

    padding: 0 15px;

    background: #ffffff;
}

.portfolio__controls-icon {
    margin: 0 3px;

    color: #e4551d;

    font-size: 16pt;
}

.portfolio__folios {
    display: flex;

    width: 100%;

    justify-content: space-between;
}

.portfolio__link {
    margin-top: 40px;
    padding: 12px 17px;

    text-decoration: none;

    color: #ffffff;
    border-style: solid;
    border-color: #e4551d;
    border-radius: 5px;
    background: #e4551d;

    font-family: "Source Sans Pro", sans-serif;
    font-size: 14pt;
    font-weight: bold;
}