.portfolio__inner-container {
    display: flex;
    flex-direction: column;

    padding-bottom: 4.4rem;

    border-bottom: 1px solid #d9d9d9;

    align-items: center;
}

.portfolio__title-container {
    margin-top: 3.2rem;
}

.portfolio__controls-container {
    width: 100%;

    margin: 1.1rem 0 2.5rem 0;
}

.portfolio__folios {
    display: flex;

    width: 100%;

    justify-content: space-between;
}

.portfolio__img {

    width: 16.8rem;
    height: 10.6rem;
}

@media screen and (max-width: 1270px) {
    .portfolio__folios {
        margin: 0 -15px;

        justify-content: center;
    }

    .portfolio__img {
        margin: 0 15px;
    }
    
    .portfolio__img:last-child {
        display: none;
    }
}

@media screen and (max-width: 1090px) {
    .portfolio__img:nth-last-child(2) {
        display: none;
    }
}

@media screen and (max-width: 715px) {
    .portfolio__img:nth-last-child(3) {
        display: none;
    }
}

.portfolio__link-container {
    margin-top: 3.25rem
}

.portfolio__link {
    background: #e4551d;
    padding: 0.6rem 1.6rem;
}