.social__inner-container {
    display: flex;
    flex-direction: column;
    color: white;
}

.social__title-container {
    display: flex;
    flex-direction: column;
    background: #637f83;
}

.social__title, .social__description {
    color: white;
}

.social__subscribe-container {
    display: flex;
    background: #637f83;
}

.mail__header {
    display: flex;
}

.mail__title-container {
    display: flex;
    flex-direction: column;
}

.mail__icon {
    font-size: 40pt;
    color: white;
}

.mail__title {
    font-size: 12pt;
    color: white;
}

.mail__description, .twitter__description, .twitter__link {
    color: white;
}

.mail__form {
    display: flex;
}

.mail__input-text, .mail__input-submit {
    color: white;
    background: #597275;
    border-style: solid;
    border-color: #597275;
    border-radius: 5px;
}

.mail__input-submit {
    width: 85px;
}

.twitter__link {
    color: white;
}

.twitter {
    display: flex;
    background: #597275;
    border-radius: 5px;
}

.twitter__icon {
    font-size: 66pt;
    color: white;
}

.twitter__description {
    color: #b5c7c9;
}

.follow {
    display: flex;
}

.follow__network-container {
    display: flex;
}

.follow__icon {
    color: #e4551d;
    font-size: 32pt;
}

.follow__title {
    font-size: 12pt;
}

.follow__description-container {
    display: flex;
    flex-direction: column;
}

.follow__description {
    color: #bfced0;
}