.twitter {
    display: flex;

    align-items: center;
}

.twitter__icon {
    color: #ffffff;

    font-size: 4rem;
}

.twitter__description-container {
    margin-left: 25px;
}

.twitter__description {
    color: #b5c7c9;
}

.twitter__link {
    color: #ffffff;
}

@media screen and (max-width: 450px) {
    .twitter {
        display: block;

        text-align: center;
    }
    
    .twitter__description-container {
        margin-left: 0;
        margin-top: 5px;
    }
}