.twitter {
    display: flex;
}

.twitter__icon {
    color: #ffffff;

    font-size: 64px;
}

.twitter__description-container {
    margin-left: 25px;
}

.twitter__description {
    color: #b5c7c9;
}

.twitter__link {
    color: #ffffff;
}